{% trans_default_domain 'DCSLikeBundle' %}
<span>{{ 'label.like_received'|transchoice(thread.numLikes, {'%count%' : thread.numLikes}) }}</span>
{% if not isLiked %}
    <a href="{{ url('dcs_like', {'id' : thread.id}) }}">{{ 'label.like'|trans }}</a>
{% else %}
    <a href="{{ url('dcs_unlike', {'id' : thread.id}) }}">{{ 'label.unlike'|trans }}</a>
{% endif %}